doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GoodEats Restaurant
        link(rel="stylesheet", href="style.css")
        
    body 
        script(src="index.js") 
        h1 GoodEats Restaurant
        img(src="spread.jpg", alt="food on a table") 
        h2 Menu Items:
        div

        
